.dashboard{
    /* background: #E4E9F7; */
    height: 100%;
    /* margin-top: 70px;  */
}
.carousel-item>img{
    display: block;
    width: 98%;
    height: 380px;
    border-radius: 15px;
    margin: 10px auto;
}

/* ==========intro=========== */
.intro{
    line-height: 1px;
    margin-left: 10px;
}
.intro>p{
    font-weight: 700;
    color: #1E88E5;
    font-size: 25px;
    margin-top: 30px;
}
/* ==========Card============ */
.cardSection{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*======== profilecard =========*/
.profilecard{
    margin: 50px 0 0 10px;
}

.datatable{
    width: 95%;
    margin: 35px 0 0 20px;
}


.map{
    width: 96%;
    height: 400px;
    border-radius: 10px;
}

.line>div{
    width: 250px;
    height: 2px;
    background-color: #1E88E5;
}
@media screen and (max-width: 600px) {
    .dashboard{
        margin-top: 170px; 
    }
  }
@media screen and (max-width: 825px) {
    .profile{
        width: 100% !important;
    }
    .celender{
        width: 100% !important;
    }
  }
  