
/*=============== 2.3 Forms ==================*/
.form-group .form-control {
  height: 45px;
  font-size: 14px;
  color: #111111;
  border-radius: 7px;
  padding: 5px 15px;
}
/* .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
} */

/*=============== 2.4 Grid ==================*/
.col-12-xxxl,
.col-11-xxxl,
.col-10-xxxl,
.col-9-xxxl,
.col-8-xxxl,
.col-7-xxxl,
.col-6-xxxl,
.col-5-xxxl,
.col-4-xxxl,
.col-3-xxxl,
.col-2-xxxl,
.col-1-xxxl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media only screen and (min-width: 1500px) {
  .col-12-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-11-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-10-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-9-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-8-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-7-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-6-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-5-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-4-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-3-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-2-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-1-xxxl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.row.gutters-1 {
  padding-left: 14.5px;
  padding-right: 14.5px;
}
.row.gutters-1 > [class^="col-"] {
  padding-left: 0.5px;
  padding-right: 0.5px;
}
.row.gutters-2 {
  padding-left: 14px;
  padding-right: 14px;
}
.row.gutters-2 > [class^="col-"] {
  padding-left: 1px;
  padding-right: 1px;
}
.row.gutters-3 {
  padding-left: 13.5px;
  padding-right: 13.5px;
}
.row.gutters-3 > [class^="col-"] {
  padding-left: 1.5px;
  padding-right: 1.5px;
}
.row.gutters-4 {
  padding-left: 13px;
  padding-right: 13px;
}
.row.gutters-4 > [class^="col-"] {
  padding-left: 2px;
  padding-right: 2px;
}
.row.gutters-5 {
  padding-left: 12.5px;
  padding-right: 12.5px;
}
.row.gutters-5 > [class^="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.row.gutters-6 {
  padding-left: 12px;
  padding-right: 12px;
}
.row.gutters-6 > [class^="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}
.row.gutters-7 {
  padding-left: 11.5px;
  padding-right: 11.5px;
}
.row.gutters-7 > [class^="col-"] {
  padding-left: 3.5px;
  padding-right: 3.5px;
}
.row.gutters-8 {
  padding-left: 11px;
  padding-right: 11px;
}
.row.gutters-8 > [class^="col-"] {
  padding-left: 4px;
  padding-right: 4px;
}
.row.gutters-9 {
  padding-left: 10.5px;
  padding-right: 10.5px;
}
.row.gutters-9 > [class^="col-"] {
  padding-left: 4.5px;
  padding-right: 4.5px;
}
.row.gutters-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.row.gutters-10 > [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row.gutters-11 {
  padding-left: 9.5px;
  padding-right: 9.5px;
}
.row.gutters-11 > [class^="col-"] {
  padding-left: 5.5px;
  padding-right: 5.5px;
}
.row.gutters-12 {
  padding-left: 9px;
  padding-right: 9px;
}
.row.gutters-12 > [class^="col-"] {
  padding-left: 6px;
  padding-right: 6px;
}
.row.gutters-13 {
  padding-left: 8.5px;
  padding-right: 8.5px;
}
.row.gutters-13 > [class^="col-"] {
  padding-left: 6.5px;
  padding-right: 6.5px;
}
.row.gutters-14 {
  padding-left: 8px;
  padding-right: 8px;
}
.row.gutters-14 > [class^="col-"] {
  padding-left: 7px;
  padding-right: 7px;
}
.row.gutters-15 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row.gutters-15 > [class^="col-"] {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row.gutters-20 {
  padding-left: 5px;
  padding-right: 5px;
}
.row.gutters-20 > [class^="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/*=============== 4.2 Button ==================*/
.fw-btn-fill {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 44px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 10px;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fw-btn-fill:hover {
  background: #042954;
}
.fw-btn-fill:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-fill-lg {
  display: inline-block;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 12px 45px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-fill-lg:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-fill-xl {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 12px 55px;
  cursor: pointer;
}
.btn-fill-xl:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-fill-lmd {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 12px 35px;
  cursor: pointer;
}
.btn-fill-lmd:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-fill-md {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-fill-md:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-fill-sm {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 12px 25px;
  cursor: pointer;
}
.btn-fill-sm:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.btn-hover-bluedark:hover {
  background: #042954;
}
.btn-hover-yellow:hover {
  background: #ff9d01;
}
/*================================================================
/*=============== 5.1 Content ==================*/

#scrollUp {
  background-color: #042954;
  bottom: 20px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  height: 44px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 44px;
  z-index: 99999;
  border: 2px solid #111111;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
#scrollUp i {
  color: #fff;
}
#scrollUp:hover,
#scrollUp:focus {
  background-color: rgba(11, 11, 11, 0.3);
}
#scrollUp:hover i,
#scrollUp:focus i {
  color: #ffffff;
}
#scrollUp {
  animation: blinker 10s infinite;
}
.heading-layout1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 12px;
}
.heading-layout1 .item-title h3 {
  color: #111111;
  font-weight: 500;
  margin-bottom: 0;
}
.heading-layout1 .dropdown .dropdown-toggle {
  color: #bcbcbc;
  font-size: 36px;
  display: inline-block;
  line-height: 1;
  padding-bottom: 15px;
  position: relative;
  right: -10px;
}
.heading-layout1 .dropdown .dropdown-toggle:after {
  border: none;
}
.heading-layout1 .dropdown .dropdown-menu {
  border: none;
  padding: 15px 0 18px;
}
.heading-layout1 .dropdown .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 7px 20px;
}
.heading-layout1 .dropdown .dropdown-menu .dropdown-item i {
  margin-right: 14px;
  width: 22px;
}


/*=============== 6.2 Notice Board ==================*/
.notice-board-wrap {
  max-height: 900px;
  overflow-y: scroll;
  padding-right: 20px;
}
.notice-board-wrap .notice-list {
  border-bottom: 1px solid #ededed;
  padding-bottom: 14px;
  margin-bottom: 18px;
}
.notice-board-wrap .notice-list .post-date {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 14px;
  border-radius: 20px;
  margin-bottom: 14px;
}
.notice-board-wrap .notice-list .notice-title {
  font-weight: 500;
  margin-bottom: 8px;
}
.notice-board-wrap .notice-list .notice-title a {
  color: #111111;
}
.notice-board-wrap .notice-list .entry-meta {
  font-size: 15px;
  color: #646464;
}
.notice-board-wrap .notice-list .entry-meta span {
  color: #a4a4a4;
}
/*=============== 6.3 Messaging ==================*/
.message-box-wrap .card-body .message-success-box {
  text-align: center;
  padding: 5rem 2rem;
}
@media only screen and (max-width: 1399px) {
  .message-box-wrap .card-body .message-success-box {
    padding: 5rem 1rem;
  }
}
.message-box-wrap .card-body .message-success-box .item-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .message-box-wrap .card-body .message-success-box .item-content {
    display: block;
  }
}
.message-box-wrap .card-body .message-success-box .item-content .item-title {
  font-size: 16px;
  color: #646464;
  font-style: italic;
  margin-bottom: 0;
  flex: 1;
}
.message-box-wrap .card-body .message-success-box .item-content .item-icon {
  margin-right: 45px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  height: 44px;
  width: 44px;
  line-height: 44px;
  border-radius: 50%;
  background-color: #92c755;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .message-box-wrap .card-body .message-success-box .item-content .item-icon {
    margin: 0 0 35px 0;
  }
}
.message-box-wrap .card-body .message-success-box .item-content .item-icon:before {
  content: "";
  height: 58px;
  width: 58px;
  border: 8px solid rgba(146, 199, 85, 0.7);
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -7px;
}
.message-box-wrap .card-body .message-success-box .item-content .item-icon:after {
  content: "";
  height: 78px;
  width: 78px;
  border: 10px solid rgba(146, 199, 85, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: -17px;
}
.message-box-wrap .card-body .message-error-box {
  text-align: center;
  padding: 5rem 2rem;
}
@media only screen and (max-width: 1399px) {
  .message-box-wrap .card-body .message-error-box {
    padding: 5rem 1rem;
  }
}
.message-box-wrap .card-body .message-error-box .item-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .message-box-wrap .card-body .message-error-box .item-content {
    display: block;
  }
}
.message-box-wrap .card-body .message-error-box .item-content .item-title {
  font-size: 16px;
  color: #646464;
  font-style: italic;
  margin-bottom: 0;
  flex: 1;
}
.message-box-wrap .card-body .message-error-box .item-content .item-icon {
  margin-right: 45px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  height: 44px;
  width: 44px;
  line-height: 44px;
  border-radius: 50%;
  background-color: #ee0d0d;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .message-box-wrap .card-body .message-error-box .item-content .item-icon {
    margin: 0 0 35px 0;
  }
}
.message-box-wrap .card-body .message-error-box .item-content .item-icon:before {
  content: "";
  height: 58px;
  width: 58px;
  border: 8px solid rgba(238, 13, 13, 0.5);
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -7px;
}
.message-box-wrap .card-body .message-error-box .item-content .item-icon:after {
  content: "";
  height: 78px;
  width: 78px;
  border: 10px solid rgba(238, 13, 13, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: -17px;
}


/*=============== 8.1 Background ==================*/
.bg-transparent {
  background-color: transparent;
}
.bg-dark-high {
  background-color: #000000;
}
.bg-dark-medium {
  background-color: #111111;
}
.bg-dark-normal {
  background-color: #222222;
}
.bg-dark-low {
  background-color: #444444;
}
.bg-light {
  background-color: #ffffff !important;
}
.bg-ash {
  background-color: #f0f1f3 !important;
}
.bg-red {
  background-color: #ff0000;
}
.bg-orange-red {
  background-color: #ff0000;
}
.bg-blue {
  background-color: #304ffe;
}
.bg-blue-dark {
  background-color: #042954;
}
.bg-yellow {
  background-color: #fbd540;
}
.bg-yellow2 {
  background-color: #ffb822;
}
.bg-yellow3 {
  background-color: #f0a70d;
}
.bg-orange {
  background-color: #fbd540;
}
.bg-orange-peel {
  background-color: #ffa000;
}
.bg-skyblue {
  background-color: #40dfcd;
}
.bg-pink {
  background-color: #f939a1;
}
.bg-pink2 {
  background-color: #ff5252;
}
.bg-pink3 {
  background-color: #ef3232;
}
.bg-mauvelous {
  background-color: #f48fb1;
}
.bg-light-red {
  background-color: #ffeaea;
}
.bg-light-yellow {
  background-color: #fff2d8;
}
.bg-light-blue {
  background-color: #e1f1ff;
}
.bg-dodger-blue {
  background-color: #2196f3;
}
.bg-violet-blue {
  background-color: #a864a8;
}
.bg-light-green {
  background-color: #d1f3e0;
}
.bg-dark-pastel-green {
  background-color: #00c853;
}
.bg-light-sea-green {
  background-color: #1cbbb4;
}
.bg-light-green2 {
  background-color: #64d9bc;
}
.bg-light-green3 {
  background-color: #4ec9aa;
}
.bg-light-magenta {
  background-color: #f3e5f5;
}
.bg-martini {
  background-color: #bcaaa4;
}
.bg-true-v {
  background-color: #9575cd;
}
.bg-wild-strawberry {
  background-color: #ff4081;
}
.bg-fb {
  background-color: #546ca9;
}
.bg-fb2 {
  background-color: #5867dd;
}
.bg-fb3 {
  background-color: #4655c8;
}
.bg-gplus {
  background-color: #f81b1b;
}
.bg-twitter {
  background-color: #45a0f0;
}
.bg-linkedin {
  background-color: #1565c0;
}
.bg-git {
  background-color: #997f75;
}
.sidebar-color {
  background-color: #042954;
}
.bg-gradient-fb {
  background: -webkit-gradient(linear, left top, right top, from(#546ca9), to(#5c77bc));
  background: -webkit-linear-gradient(left, #546ca9, #5c77bc);
  background: -o-linear-gradient(left, #546ca9, #5c77bc);
  background: linear-gradient(to right, #546ca9, #5c77bc);
}
.bg-gradient-twitter {
  background: -webkit-gradient(linear, left top, right top, from(#1f89e5), to(#64b5f6));
  background: -webkit-linear-gradient(left, #1f89e5, #64b5f6);
  background: -o-linear-gradient(left, #1f89e5, #64b5f6);
  background: linear-gradient(to right, #1f89e5, #64b5f6);
}
.bg-gradient-gplus {
  background: -webkit-gradient(linear, left top, right top, from(#e84642), to(#f81b1b));
  background: -webkit-linear-gradient(left, #e84642, #f81b1b);
  background: -o-linear-gradient(left, #e84642, #f81b1b);
  background: linear-gradient(to right, #e84642, #f81b1b);
}
.bg-gradient-linked {
  background: -webkit-gradient(linear, left top, right top, from(#1565c0), to(#314ce0));
  background: -webkit-linear-gradient(left, #1565c0, #314ce0);
  background: -o-linear-gradient(left, #1565c0, #314ce0);
  background: linear-gradient(to right, #1565c0, #314ce0);
}
.btn-gradient-yellow {
  background-color: #ffae01;
}
.gradient-dodger-blue {
  background: -webkit-gradient(linear, left top, right top, from(#2196f3), to(#21bff3));
  background: -webkit-linear-gradient(left, #2196f3, #21bff3);
  background: -o-linear-gradient(left, #2196f3, #21bff3);
  background: linear-gradient(to right, #2196f3, #21bff3);
}
.gradient-orange-peel {
  background: -webkit-gradient(linear, left top, right top, from(#ffa000), to(#ff7200));
  background: -webkit-linear-gradient(left, #ffa000, #ff7200);
  background: -o-linear-gradient(left, #ffa000, #ff7200);
  background: linear-gradient(to right, #ffa000, #ff7200);
}
.gradient-pastel-green {
  background: -webkit-gradient(linear, left top, right top, from(#43a047), to(#66bb6a));
  background: -webkit-linear-gradient(left, #43a047, #66bb6a);
  background: -o-linear-gradient(left, #43a047, #66bb6a);
  background: linear-gradient(to right, #43a047, #66bb6a);
}
/*=============== 8.2 Border ==================*/
.border-dodger-blue {
  border: 1px solid #2196f3 !important;
}
.border-mauvelous {
  border: 1px solid #f48fb1;
}
.border-orange-peel {
  border: 1px solid #ffa000 !important;
}
.border-dark-pastel-green {
  border: 1px solid #00c853 !important;
}
.border-red {
  border: 1px solid #ff0000 !important;
}
.border-true-v {
  border: 1px solid #9575cd;
}
.border-violet-blue {
  border: 1px solid #a864a8;
}
.border-light-sea-green {
  border: 1px solid #1cbbb4;
}
.border-martini {
  border: 1px solid #bcaaa4;
}
.border-yellow {
  border: 1px solid #fbd540;
}
.border-orange-red {
  border: 1px solid #ff0000;
}
.no-radius {
  border-radius: 0 !important;
}
.radius-4 {
  border-radius: 4px;
}
.radius-30 {
  border-radius: 30px;
}
.radius-50 {
  border-radius: 50%;
}
/*=============== 8.3 Height ==================*/
.height-auto {
  height: auto !important;
}
.m-height-580 {
  max-height: 58rem !important;
}
.m-height-440 {
  max-height: 44rem !important;
}
.m-height-660 {
  max-height: 66rem !important;
}
/*=============== 8.4 Margin ==================*/
.mg-0 {
  margin: 0;
}
.mg-x-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mg-y-0 {
  margin-right: 0;
  margin-left: 0;
}
.mg-t-0 {
  margin-top: 0;
}
.mg-r-0 {
  margin-right: 0;
}
.mg-b-0 {
  margin-bottom: 0;
}
.mg-l-0 {
  margin-left: 0;
}
.mg-t-4 {
  margin-top: 4px;
}
.mg-t-5 {
  margin-top: 5px;
}
.mg-t-6 {
  margin-top: 6px !important;
}
.mg-t-7 {
  margin-top: 7px;
}
.mg-t-8 {
  margin-top: 8px;
}
.mg-t-9 {
  margin-top: 9px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-11 {
  margin-top: 11px;
}
.mg-t-12 {
  margin-top: 12px;
}
.mg-t-13 {
  margin-top: 13px;
}
.mg-t-14 {
  margin-top: 14px;
}
.mg-t-15 {
  margin-top: 15px;
}
.mg-t-16 {
  margin-top: 16px;
}
.mg-t-17 {
  margin-top: 17px;
}
.mg-t-18 {
  margin-top: 18px;
}
.mg-t-19 {
  margin-top: 19px;
}
.mg-t-20 {
  margin-top: 20px;
}
.mg-t-22 {
  margin-top: 22px;
}
.mg-t-23 {
  margin-top: 23px;
}
.mg-t-24 {
  margin-top: 24px;
}
.mg-t-25 {
  margin-top: 25px;
}
.mg-t-26 {
  margin-top: 26px;
}
.mg-t-27 {
  margin-top: 27px;
}
.mg-t-28 {
  margin-top: 28px;
}
.mg-t-29 {
  margin-top: 29px;
}
.mg-t-30 {
  margin-top: 30px;
}
.mg-l-4 {
  margin-left: 4px;
}
.mg-l-5 {
  margin-left: 5px;
}
.mg-l-6 {
  margin-left: 6px;
}
.mg-l-7 {
  margin-left: 7px;
}
.mg-l-8 {
  margin-left: 8px;
}
.mg-l-9 {
  margin-left: 9px;
}
.mg-l-10 {
  margin-left: 10px;
}
.mg-l-11 {
  margin-left: 11px;
}
.mg-l-12 {
  margin-left: 12px;
}
.mg-l-13 {
  margin-left: 13px;
}
.mg-l-14 {
  margin-left: 14px;
}
.mg-l-15 {
  margin-left: 15px;
}
.mg-l-16 {
  margin-left: 16px;
}
.mg-l-17 {
  margin-left: 17px;
}
.mg-l-18 {
  margin-left: 18px;
}
.mg-l-19 {
  margin-left: 19px;
}
.mg-l-20 {
  margin-left: 20px;
}
.mg-l-22 {
  margin-left: 22px;
}
.mg-b-4 {
  margin-bottom: 4px;
}
.mg-b-5 {
  margin-bottom: 5px;
}
.mg-b-6 {
  margin-bottom: 6px !important;
}
.mg-b-7 {
  margin-bottom: 7px;
}
.mg-b-8 {
  margin-bottom: 8px;
}
.mg-b-9 {
  margin-bottom: 9px;
}
.mg-b-10 {
  margin-bottom: 10px;
}
.mg-b-11 {
  margin-bottom: 11px;
}
.mg-b-12 {
  margin-bottom: 12px;
}
.mg-b-13 {
  margin-bottom: 13px;
}
.mg-b-14 {
  margin-bottom: 14px;
}
.mg-b-15 {
  margin-bottom: 15px;
}
.mg-b-16 {
  margin-bottom: 16px;
}
.mg-b-17 {
  margin-bottom: 17px;
}
.mg-b-18 {
  margin-bottom: 18px;
}
.mg-b-19 {
  margin-bottom: 19px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-b-22 {
  margin-bottom: 22px;
}
.mg-b-25 {
  margin-bottom: 25px;
}
.mg-r-4 {
  margin-right: 4px;
}
.mg-r-5 {
  margin-right: 5px;
}
.mg-r-6 {
  margin-right: 6px;
}
.mg-r-7 {
  margin-right: 7px;
}
.mg-r-8 {
  margin-right: 8px;
}
.mg-r-9 {
  margin-right: 9px;
}
.mg-r-10 {
  margin-right: 10px;
}
.mg-r-11 {
  margin-right: 11px;
}
.mg-r-12 {
  margin-right: 12px;
}
.mg-r-13 {
  margin-right: 13px;
}
.mg-r-14 {
  margin-right: 14px;
}
.mg-r-15 {
  margin-right: 15px;
}
.mg-r-16 {
  margin-right: 16px;
}
.mg-r-17 {
  margin-right: 17px;
}
.mg-r-18 {
  margin-right: 18px;
}
.mg-r-19 {
  margin-right: 19px;
}
.mg-r-20 {
  margin-right: 20px;
}
.mg-r-22 {
  margin-right: 22px;
}
/*=============== 8.5 Misc ==================*/

/*=============== 8.7 Position ==================*/

/*=============== 8.8 Text ==================*/
.text-10 {
  font-size: 10px;
}
.text-11 {
  font-size: 11px;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-14 {
  font-size: 14px;
}
.text-15 {
  font-size: 15px;
}
.text-16 {
  font-size: 16px;
}
.text-17 {
  font-size: 17px;
}
.text-18 {
  font-size: 18px;
}
.text-19 {
  font-size: 19px;
}
.text-20 {
  font-size: 20px;
}
.text-24 {
  font-size: 24px;
}
.text-28 {
  font-size: 28px;
}
.text-30 {
  font-size: 30px;
}
.text-32 {
  font-size: 32px;
}
.text-34 {
  font-size: 34px;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-light {
  font-weight: 300;
}
.text-light {
  color: #ffffff !important;
}
.text-mute-high {
  color: #9f9f9f;
}
.text-mute-medium {
  color: #a5a5a5;
}
.text-mute-low {
  color: #a8a8a8;
}
.text-dark-high {
  color: #000000;
}
.text-dark-medium {
  color: #111111;
}
.text-dark-normal {
  color: #222222;
}
.text-dark-low {
  color: #444444;
}
.text-blue {
  color: #3f7afc;
}
.text-green {
  color: #3cb878;
}
.text-orange {
  color: #ffa001;
}
.text-red {
  color: #ff0000;
}
.text-magenta {
  color: #8e24aa;
}
.text-dodger-blue {
  color: #2196f3;
}
.text-mauvelous {
  color: #f48fb1;
}
.text-orange-peel {
  color: #ffa000;
}
.text-dark-pastel-green {
  color: #00c853;
}
.text-true-v {
  color: #9575cd;
}
.text-violet-blue {
  color: #a864a8;
}
.text-light-sea-green {
  color: #1cbbb4;
}
.text-martini {
  color: #bcaaa4;
}
.text-yellow {
  color: #fbd540;
}
.text-orange-red {
  color: #ff0000;
}